# see https://git-scm.com/docs/git-config for all the config options

[user]
  email = davide.bertolotto@gmail.com
  name = Davide Bertolotto

[core]
  eol = native
  editor = vim
  excludesfile = ~/.dotfiles/.gitignore_base

[alias]
  co = checkout
  cobr = checkout -b
  cm = commit
  st = status
  br = branch -av
  brdel = branch -D
  psu = push --set-upstream
  fall = fetch --all
  diffs = diff --staged
  unstage = restore --staged
  unst = unstage

  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

  # Show all configured aliases
  aliases = !git config --list | grep 'alias\\.' | grep -v aliases | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\ \t => \\2/' | sort

[color]
  ui = auto
  branch = auto
  diff = auto
  interactive = auto
  status = auto

[instaweb]
  # httpd = lighttpd

[pull]
  rebase = false

[web]
  browser = w3m

